@CHARSET "UTF-8";

.main {
	background-color: #FFFFFF; 
	width: 960px; 
	margin:0px auto;
}

.home {
	font-family: sans-serif;
	color: #46A3CA;	
	margin: 10px;
	text-align: left;
}

.home.title {
	font-weight: bold;
	font-size: 18px;
}

.home.body {
	font-size: 14px;
}

.home.container {
	margin: 16px 0px 0px 8px;
}

.header {
	font-family: arial; 
	font-size: 24px; 
	font-weight: bold; 
	color: #46A3CA; 
	padding: 8px 0 8px 0px;
	width: 928px;
}

.menu {
	width: 928px;
}

.container {
	width: 960px;
}

.footer {
	width: 928px;
	background-color: #46A3CA; 
	font-family: arial; 
	font-size: 12px; 
	color: #FFFFFF;
}

.footer.link {
	cursor: pointer;
}

.footer.link.bold {
	font-weight: bold;
}